*.py[cod]
.metadata
.project
.settings
local_settings.py
django-countries
*.gif
*.db
.project
.pydevproject
# C extensions
*.so
sunlight_errata.txt
*.csv
*.pdf

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
venv
*.pyc
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#For OS X
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
